body{
    font-family: 'Poppins', sans-serif;
}
.hr{
    border: 2px solid black;
}
.success{
    display: none;
    color: green;
    font-weight: 600;
}
.invalid {
    color: red;
    display: none;
    font-weight: 600;
}